<div class="parentContainer">
  <div class="childContainer">

    <p-table [value]="products" [lazy]='true' (onLazyLoad)="loadProducts($event)" [paginator]='true' [loading]='loading' [totalRecords]='totalRecords'
      [rows]='rows' dataKey="_id" (onRowSelect)="handleRowSelect($event)" [(selection)]="selectedProduct" [rowsPerPageOptions]="[5,10,20]">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 2.25em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr [pSelectableRow]="product">
          <td>
            <p-tableCheckbox [value]="product"></p-tableCheckbox>
          </td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
            <div style="text-align: center">
              <button (click)="onEditRow(product)">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button (click)="onDeleteRow(product)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="childContainer">
    <h3 class="color-dark">Add a Product</h3>
    <form class="parent-form">
      <input type="text" pInputText placeholder="Name" name="name" #newName>
      <input type="text" placeholder="Price" pInputText name="price" #newPrice>

      <button type="button" pButton (click)="addProduct(newName, newPrice)" style="display:block; margin-top: 20px;" label="Save"></button>
    </form>
  </div>

</div>

<p-confirmDialog width="425"></p-confirmDialog>