<div class="parentContainer">

  <div class="childContainer">    
    <h3 class="color-dark">Add an Order</h3>
    <form class="parentform">
      <input type="text" [(ngModel)]="productName" pInputText placeholder="Product" name="productName" readonly>
      <input type="text" [(ngModel)]="productPrice" pInputText placeholder="Price" name="productPrice" readonly>
      <div style="display: flex; margin-top: 15px; margin-right: 5px; justify-content: flex-end;">
        <h3 style="margin: 5px;">Quantity:</h3>
        <p-spinner style="align-self: flex-end;" [min]="1" #newQuantity name="qty" [(ngModel)]="qty"></p-spinner>
      </div>
      <div style="display: flex; margin-top: 15px; justify-content: flex-end;">
        <h3 style="margin: 5px;">Total Price: </h3>
        <input type="text" pInputText readonly value="{{1 + 1}}">
      </div>
      <button type="button" pButton (click)="addOrder(newOrder, newQuantity)" class="btn" label="Save"></button>  
    </form>
  </div>

  <div class="childContainer">
    <p-dataTable [value]="products" #dt selectionMode="single" dataKey="_id" (onRowSelect)="handleRowSelect($event)" [(selection)]="selectedProduct">
      <p-column field="name" header="Name"> </p-column>
      <p-column field="price" header="Price"> </p-column>
      <p-footer>
        <div style="text-align: left">
          Selected Product: {{selectedProduct ? selectedProduct.name + ' - ' + selectedProduct.price : "none"}}
        </div>
      </p-footer>
    </p-dataTable>
    Selected Products: <span *ngFor="let product of selectedProducts" style="margin-right:10px">{{product}}</span>
  </div>

  

</div>

<p-dialog [(visible)]="display" modal=true>
  <p-header>
    Filter By
    <div style="display:flex;">
      <button pButton type="button" *ngFor="let letter of letters" label="{{letter}}" class="test">
      </button>
    </div>
  </p-header>

  <p-checkbox *ngFor="let item of products" label="{{item.name + ' ' + item.price}}" value="{{item.name}}" [(ngModel)]="selectedProducts">
  </p-checkbox>

  <p-footer>
    <button pButton label="cancel" (click)="onCancel()"></button>
    <button pButton label="save"></button>
  </p-footer>
</p-dialog>