.parentContainer{
    width: 100%;
    display: flex;
}

.test-input{
    :hover{
        border-color: red;
    }
}

.childContainer{
    width: 50%;
    margin: 0 10px;
    max-height: 100%;  
}

.table-container{
    width: 50%;
    margin: 0 10px;
    max-height: 100%;
}


.parentform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #57B3F1;
    padding: 30px;

    .refresh-button:hover{
        border-color: white;
        color: white;
        background: black;
    }
    .refresh-button{
        color: black;
        background: transparent;
        border: 1px solid black;
        //border:3px solid yellow;
        //background: white;
    }
}

input{
    margin: 5px
}

.color-dark {
    background: #2885C4;
    padding: 30px;
    margin: 0px;
}

.btn {     
    margin-top: 25px;
}

.test{
    background: transparent;
    border: none;
    color: black;
    margin: -5px;
    font-size: 14px;
}

